body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block;
    margin: auto;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 30px; 
    width: 100%; 
    color: rgb(241, 196, 113);
    text-align: center;
    z-index: 1;
    font-size: 15px; /* Smaller font size */
    font-family: 'Roboto', sans-serif;
}

/* Media-Query für Desktop-Viewport */
/* @media (min-width: 769px) {
    canvas {
        width: 1200px;
        height: 1000px;
    }
} */

#canvas-container {
    position: relative;
    width: 390px;
    height: 844px;
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    background-color:  rgb(241, 196, 113);
}